<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>294311764959-rlk5s9q2c5hm6ucgmt28dvrbglvdutgm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.294311764959-rlk5s9q2c5hm6ucgmt28dvrbglvdutgm</string>
	<key>API_KEY</key>
	<string>AIzaSyD82SLqvrsjv-mg1fZS_bSUTRtSFe397D0</string>
	<key>GCM_SENDER_ID</key>
	<string>294311764959</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.elshaarawy.restx</string>
	<key>PROJECT_ID</key>
	<string>restx-ccf93</string>
	<key>STORAGE_BUCKET</key>
	<string>restx-ccf93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:294311764959:ios:01440f58eb7f8e61949a6a</string>
	<key>DATABASE_URL</key>
	<string>https://restx-ccf93.firebaseio.com</string>
</dict>
</plist>